<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center" style="color: azure;">Edit Store</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/stores/<%=store._id%>?_method=PUT" method="POST" novalidate class="validated-form"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" style="color: white;" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="store[title]" value="<%=store.title %>"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color: white;" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="store[location]"
                        value="<%=store.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color: white;" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="store[description]"
                        required><%= store.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label class="form-file-label" style="color: white;" for="image">
                            <span class="form-file-text custom-file-label">Add more image(s)...</span>
                            <span class="form-file-button">Browse</span>
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <% store.images.forEach(function(img, i) { %>
                        <% console.log(img) %>
                            <div class="form-check-inline">
                                <input type="checkbox" id="image-<%=i%>" name="deleteImages[]"
                                    value="<%=img.filename%>">
                            </div>
                            <label for="image-<%=i%>" style="color: white;">Delete:</label>
                            <a href="<%= img.url %>">Image 1?</a>

                            <% })%>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update store</button>
                </div>
            </form>
            <a href="/stores/<%= store._id%>">Back To store</a>

        </div>
    </div>